/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,200;6..72,300;6..72,400;6..72,500;6..72,600&display=swap');


/* VARIABLES */

:root {
    --background: #202023;
    --background-animated: #313134;
    --white: #e5e2e2;
    --dark: #293241;
    --font-primary: 'Plus Jakarta Sans', sans-serif;
    --font-secondary: 'Newsreader', serif;
    --border-cursor: #f7f7f770;
    --inner-cursor: #f7f7f720;
    --inner-hover: #f7f7f7;
    --scrollbar: #3f3c3c;
    --opacity: #858383;
    --post-bg: #131314;
}

::selection {
    background: var(--background-animated);
    color: var(--white);
}

.fade-in {
    animation: fadeIn ease 2.5s;
    -webkit-animation: fadeIn ease 2.5s;
    -moz-animation: fadeIn ease 2.5s;
    -o-animation: fadeIn ease 2.5s;
    -ms-animation: fadeIn ease 2.5s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*  GLOBALS SETTING  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Newsreader', serif;
    cursor: none;
    overflow-x: hidden;
}

body.dark {
    --background: #f0e7db;
    --background-animated: #d3c9bc;
    --white: #181a1f;
    --font-primary: 'Plus Jakarta Sans', sans-serif;
    --font-secondary: 'Newsreader', serif;
    --border-cursor: #1d1c1c70;
    --inner-cursor: #07070720;
    --inner-hover: #f7f7f7;
    --scrollbar: #b8acac;
    --post-bg: #d3c9bc;
}

body.dark .arrow-img {
    -webkit-filter: var(--white);
    filter: invert(100%);
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--background);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--background-animated);
    border-radius: 3px;
}

a {
    text-decoration: none;
    cursor: none;
}

.container {
    max-width: 550px;
    margin: 0 auto;
    width: 90%;
}

.min-vh-100 {
    min-height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.sec-padding {
    padding: 100px 0;
}

.low-sec_padding {
    padding-bottom: 75px;
}

.more-low-padding {
    padding-top: 50px;
}

/* MAIN START */

.navbar {
    position: fixed;
    height: 3.5em;
    width: 100%;
    backdrop-filter: blur(5px);
    opacity: .95;
    -webkit-backdrop-filter: blur(5px);
    -webkit-mask-image: linear-gradient(#000 25%, transparent);
    mask-image: linear-gradient(#000 25%, transparent);
}

.cursor {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.outer {
    border: 1px solid var(--border-cursor);
}

.inner {
    background: var(--inner-cursor);
    transition: 250ms ease-out;
}

.cursor.hover {
    transform: translate(-50%, -50%) scale(3);
    transition: transform 250ms ease-in-out;
}

.inner.hover {
    background: var(--inner-hover);
    mix-blend-mode: difference;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.arrow-back {
    padding-bottom: 50px;
}

.btn {
    display: inline-block;
}

.link {
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    padding-left: 2px;
    color: var(--white);
    font-family: var(--font-secondary);
}

.link:hover {
    text-decoration: underline;
}

.back-home {
    font-style: italic;
    font-family: var(--font-secondary);
    color: var(--white);
    padding-left: 2px;
}

.back-home:hover {
    text-decoration: underline;
}

.back-post {
    background-color: var(--background-animated);
    border-radius: 3px;
    padding: 1px;
}

.img-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.profile-img {
    width: 160px;
    border-radius: 50%; 
    background-color: var(--background);
    border: 4px solid var(--background-animated); 
}

.presentation {
    background: var(--background-animated);
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    color: var(--white);
    font-family: var(--font-primary);
    text-align: center;
}

.title {
    color: var(--white);
    letter-spacing: 0.4px;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-primary);
    margin-top: 50px;
    text-decoration: 5px underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--background-animated);
}

span {
    font-size: 15px;
    font-style: italic;
    font-family: var(--font-secondary);
}

.sub-title {
    color: var(--white);
    letter-spacing: 0.8px;
    padding-top: 23px;
    font-family: var(--font-primary);
    font-size: 15px;
}

.project-link {
    color: var(--white);
    text-decoration: underline;
}

/* GRID TABLE */

.sec-grid {
    display: grid;
    grid-gap: 15px;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    align-items: left;
    max-width: 1080px;
    margin: auto;
}

h3 {
    font-family: var(--font-primary);
    font-size: 15px;
    color: var(--opacity);
}

.dot {
    color: var(--white);
    font-family: var(--font-primary);
    position: relative;
    place-self: center stretch;
    font-size: 15px;
    font-weight: 700;
    padding-top: 12px;
}

.dot::after {
    position: absolute;
    font-size: 0.75em;
    right: -12px;
}


.desc {
    font-size: 15px;
    font-family: var(--font-primary);
    color: var(--opacity);
    font-weight: 500;
}

/* WRITING CONTENT */

.content-wr{
    margin-top: 35px;
    padding: 12px;
}

.content-wr:hover {
    background-color: var(--post-bg);
    border-radius: 8px;
    transition: all .35s;
}

.date-wr {
    font-family: var(--font-primary);
    color: var(--white);
    background-color: var(--post-bg);
    border-radius: 8px;
    padding: 4px;
}

.title-wr {
    margin-top: 8px;
    font-family: var(--font-primary);
    color: var(--white);
}

.sub-title-wr {
    margin-top: 8px;
    font-size: 13.5px;
    font-family: var(--font-primary);
    color: var(--opacity);
}

/* CONNECT */

h2 {
    color: var(--white);
    font-family: var(--font-primary);
    letter-spacing: 0.4px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: 5px underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--background-animated);
}

.social {
    color: var(--white);
    text-decoration: 1px underline;
    font-weight: 500;
}

.timer {
    font-family: var(--font-primary);
    padding-bottom: 15px;
}

.time {
    color: var(--opacity);
    font-size: 16px;
    display: inline-block;
}

.time-per {
    color: var(--opacity);
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 5px;
}

.ubication_ar {
    display: flex;
    justify-content: end;
    text-align: end;
    color: var(--opacity);
    margin-top: -22.5px;
}

/* ROADMAP */

.banner-img {
    width: 100%;
    border-radius: 8px;
    margin-top: 25px;
}

/* BACKGROUND ANIMATION EFFECT */

.bg-animation-effect {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.bg-animation-effect div {
    height: 4px;
    width: 4px;
    background-color: var(--background-animated);
    margin-left: calc((100% - 40px) / 11);
    border-radius: 50%;
}

.bg-animation-effect div:nth-child(even) {
    animation: evenItems 9s linear infinite;
}

@keyframes evenItems {
    0% {
        transform: translateY(0vh);
    }

    100% {
        transform: translateY(12.5vh);
    }
}

.bg-animation-effect div:nth-child(odd) {
    animation: oddItems 8s linear infinite;
}

@keyframes oddItems {
    0% {
        transform: translateY(0vh);
    }

    100% {
        transform: translateY(-12.5vh);
    }
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
    .cursor {
        display: none;
    }
}

@media(max-width:767px) {

    .bg-animation-effect .col-7,
    .bg-animation-effect .col-6 {
        display: none;
    }

    .bg-animation-effect div {
        margin-left: calc((100% - 20px) / 6);
    }

    .portfolio-item {
        width: calc(100% - 30px);
    }
}